<h1>Editing copy</h1>

<%= render "copies/form", copy: @copy %>

<br>

<button class="button"><%= link_to "Return to copy info", book_copies_path(@book) %></button>
<button class="button"><%= link_to "Back to books", root_path %></button>