<%=render 'top_menu' %>

<h1>Editing copy</h1>

<%= render "form", copy: @copy %>

<br>

<button class="button"><%= link_to "Return to this copy's info", edit_copy_path(@copy) %></button>
<button class="button"><%= link_to "Back to books", books_path %></button>