<meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/books">
      <img src="https://www.cambridgeblog.org/wp-content/uploads/2018/06/antique-books-615x290.png" width="112" height="40">
    </a>
  </div>
</nav>