<p style="color: green"><%= notice %></p>

<h1 class="title">Books</h1>

<div id="books">
  <% @books_sorted.each do |book| %>
    <%= render book %>
  <% end %>
</div>

<br>

<button class="button is-primary is-light">
  <%= link_to "New book", new_book_path %>
</button>

